body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
a.nav-link{
  color: #fff;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
  margin-top: 15px;
  margin-left: 0px;
}


.sidebar .nav-link.active {
  border-left: 3px solid #57ba82 ;
}
.sidebar .nav-link:hover{
  transition: 0.80s;
  transform: scale(0.9);
  color:#007bff;


}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color:inherit;
  
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.sidebar span{
  color: #fff;
  margin-right: 4px;
}
.sidebar i{
  color: #fff;
  margin-left: 10px;
}


.sidebar #supervisao{
  margin-left: 180px;
}
.sidebar #relatorios{
  margin-left: 189px;
}
.sidebar #analise{
  margin-left: 200px;
}
.sidebar #finacas{
  margin-left: 198px;
}
.sidebar #mercado{
  margin-left: 160px;
}
.sidebar #api{
  margin-left: 230px;
}
.sidebar #rateio{
  margin-left: 212px;
}
.sidebar #ranking{
  margin-left: 200px;
}
.sidebar #metas{
  margin-left: 212px;
}
.sidebar #settings{
  margin-left: 162px;
}
#pagina {
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}
#pagina .h2{
  font-size: 20px;
  color: #fff;
}
#linha1{
  margin-bottom: 10px;
}

h5, p{
  color: black;
}

#user{
  color: #fff;
  margin-top: 12px;
}
#esquerda{
  color: white;
  margin-left: 95%;

}
.logo{
  width: 50px;
  height: auto;
}